body {
  background-color: $background-color;
  font-size: 15px;
  font-family: Chivo, sans-serif;
  font-weight: 300;
  line-height: 25px;
  color: $white;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  p {
    margin: 0 1rem 25px;
    color: $light-blue;
    font-size: 15px;
    line-height: 25px;
  }

  @media screen and (min-width: $screen-size--medium) {
    max-width: 635px;
    background-color: $background-color;
    text-align: left;
    padding-top: 100px;

    p {
      max-width: 445px;
      margin: 40px 0;
      font-size: 18px;
    }
  }
}
