form {
  max-width: 326px;
  margin: 0 auto;

  @media screen and (min-width: $screen-size--medium) {
    margin: 0 auto 65px 0;
    display: flex;
    align-items: center;
    background-color: $dark-blue;
    border-radius: 28px;
    position: relative;
    max-width: none;
    width: 425px;
  }
}

input {
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  border-radius: 28px;
  height: 48px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 0 34px;
  box-sizing: border-box;

  @media screen and (min-width: $screen-size--medium) {
    padding: 0 27px;
  }

  &[type='email'] {
    color: #fff;
    background-color: $dark-blue;

    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    @media screen and (min-width: $screen-size--medium) {
      flex-grow: 2;
      height: 56px;
    }
  }

  &[type='submit'] {
    background-color: $primaryColor;
    color: $background-color;
    transition: all .5s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #B3FFE2;
    }

    @media screen and (min-width: $screen-size--medium) {
      width: 162px;
      height: 46px;
      margin-right: 5px;
    }
  }

  &:focus:invalid {
    outline: none;
  }
}

.error {
  width: 100%;
  display: block;
  margin-bottom: 16px;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  color: $red;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;

  @media screen and (min-width: $screen-size--medium) {
    position: absolute;
    bottom: -40px;
  }
}

.error.active {
  line-height: 1;
  padding: 5px 34px 5px;
  margin-bottom: 16px;
}
