.container:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
  background-image: url(../assets/mobile/image-host.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(80%);

  @media screen and (min-width: $screen-size--medium) {
    content: none;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 12px;
  box-sizing: border-box;

  @media screen and (min-width: $screen-size--medium) {
    display: flex;
    align-items: center;
    padding: 12px 40px;
    background-image: url(../assets/tablet/image-host.jpg),
      url(../assets/desktop/bg-pattern-dots.svg);
    background-repeat: no-repeat;
    background-position: top right, bottom left 40px;
  }
}

.bottom-container {
  @media screen and (min-width: $screen-size--medium) {
    display: flex;
    flex-direction: column-reverse;
  }
}
