.logos {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  max-width: 315px;
  margin: 0 auto 48px;

  li {
    list-style: none;
    display: flex;
    align-items: center;

    img {
      max-height: 17px;
      max-width: 77px;
      width: auto;
      filter: brightness(0) saturate(100%) invert(37%) sepia(67%) saturate(220%)
        hue-rotate(186deg) brightness(93%) contrast(91%);
    }
  }

  @media screen and (min-width: $screen-size--medium) {
    margin: 0;
    max-width: 536px;

    li img {
      max-height: 29px;
      max-width: 129px;
    }
  }
}
