h1 {
  color: $primaryColor;
  font-weight: 300;
  font-size: 26px;
  line-height: 38px;
  text-transform: uppercase;

  span {
    color: $white;
  }

  @media screen and (min-width: $screen-size--medium) {
    margin-top: 0;
    font-size: 48px;
    line-height: 56px;
  }
}
